
#button-dialog #insert {
	display: block;
	line-height: 24px;
	text-align: center;
	margin: 10px 0 0 0;
	float: right;
}

[class^="icon-"],[class*=" icon-"] {
	color: #333!important;
}

#TB_window {
	background-color: #F1F1F1;
	position: absolute!Important;
}

.shortcode-dynamic-item .redux-opts-screenshot {
	max-width: 300px;
}

.redux-opts-upload-remove {
	margin-left: 10px;
}

.clients > div:last-child {
	padding-bottom: 0px;
	border-bottom: 0px;	
}

.clients .shortcode-dynamic-item {
	padding-bottom: 30px;
	border-bottom: 1px solid #DDDDDD;
}

.clients label.inline {
	display: inline;
	margin-right: 3px;
	min-width: 0px!important;
}

input[type=radio] {
	margin-right: 18px;
}

.clients .shortcode-dynamic-item .clear {
	border: none;	
}

.icon-option i {
	margin-right: 1px;
	margin-bottom: 1px;
	text-align: center;
	vertical-align: center;
	font-size: 14px;
	height: 27px;
	cursor: pointer;
	line-height: 27px;
	width: 27px;
	border: 1px solid #e6e6e6;
	background-color: #e7e7e7;
	display: inline-block;
}

.icon-option i:hover {
	position: relative;
	z-index: 200;
	 transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
	-o-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}

.icon-option i.selected {
	background-color: #fff;
	border: 1px solid #fff!important;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}

.shortcode-content .remove-list-item {
   margin-left: 5px;
   float: right;
   position: relative;
   bottom: -52px;
}

.shortcode-content .add-list-item {
   float: right;
   bottom: -52px;
   position: relative;
}

.shortcode-dynamic-item input[type=text], .shortcode-dynamic-item textarea {
	margin-bottom: 3px;
}

input[type="text"], textarea, select, #insert-shortcode{ 
	padding: 10px; 
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #555;
}

input[type="text"], textarea {
	width:100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
}

div.label {
	display: inline-block;
	width: 30%;
	float: left;
	margin: 10px 0px;
}

div.content {
	display: inline-block;
	width: 69%;
}

div.clear {
	margin: 19px 0px;
	border-bottom: 1px solid #ddd;
	clear: both;
}

div.clear.no-border {
	margin: 0px!important;
	border: none!important;
}

.shortcode-options {
	display: none;
}

.shortcode-options label {
	display: inline;
	margin-right: 3px;
	min-width: 0px!important;
}

div[data-type="radios"] label, div[data-type="direct_to_editor"] label {
	display: inline;
}

div[data-type="radios"] .content, div[data-type="checkbox"] .content {
	margin: 7px 0px;
}

.description{margin-top:-.5em; }
.description{ margin: 3px 0 0 0; color: #666; font-style: italic; }


div.hr {
	width: 100%;
	margin: 20px 0px;
	border-bottom: 1px solid #ddd;
}


.btn {
	cursor: pointer;
	display: table;
	background-color: #77cc6d;
	padding: 8px 14px 8px !important;
	color: #fff!important;
	font-size: 11px;
	line-height: normal;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all;
	margin-top:10px;
    margin-right:5px;
    text-decoration: none;
}

.btn.yellow {
	background-color: #f6b661;
}

.btn:hover {
	color: #fff;
	background-position: 0 -15px;
	background-color: #372f3e;
	text-decoration: none;
}

.tall {
	height: 70px;	
}

#shortcode-generator option[disabled=disabled] {
	background: #333;
	font-weight: bold;
	color: #FFF;
	margin-top: 10px;
}

#shortcode-generator .shortcode-dynamic-item {
	position: relative;
	margin-bottom: 30px;
}

#shortcode-generator .shortcode-dynamic-items > div:last-child {
	margin-bottom: 0px;
}

#shortcode-generator .shortcode-dynamic-item-text {
	height: 125px;
	margin-top: 4px;
}
#shortcode-generator .shortcode-content {
	padding: 15px 15px;
}

/* Shortcode Code Storage */
.shortcode_storage {
	display:none;
}

label#option-label {
	display: block;
	font-weight: bold;	
}

#shortcode-content textarea#content {
	height: 180px;
	font-size: 12px;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-transition: 0.2s linear all;
	-moz-transition: 0.2s linear all;
	-ms-transition: 0.2s linear all;
	-o-transition: 0.2s linear all;
	transition: 0.2s linear all;
}

#shortcode-content textarea#content:focus, #shortcode-content input[type="text"]:focus {
	border-color: #77cc6d!important;
}

#shortcode-content {
	display: none;
}

